<section>
  <div class="author">
    <mc-article-meta
      [article]="article"
      [lightBg]="true"
      [slug]="article?.slug!"
      [user]="user"
      (updatedArticle)="updateArticle($event)"
    />
  </div>
  <div class="form">
    @if (user) {
      <mc-comments-form
        [user]="user"
        (newComment)="updateComment($event)"
        [slug]="article?.slug!"
      />
      @defer (on viewport) {
        <mc-comments-list
          [slug]="article?.slug!"
          [newComment]="comment"
        />
      }@placeholder {
        <details>Comments</details>
      }
    } @else {
      <p>
        <a 
          [routerLink]="['/login']"
        >Sign in</a> or 
        <a 
          [routerLink]="['/register']"
        >sign up</a> 
        to add comments on this article
      </p>
    }
  </div>
</section>
