<section>
  <h1>{{ article?.title }}</h1>
  <div class="article-meta">
    <div class="img">
      <img [src]="article?.author?.image" alt="">
    </div>
    <summary>
      <h3>{{ article?.author?.username }}</h3>
      <p>{{ formatDate(article?.createdAt) }}</p>
    </summary>
    @if (article) {
      @if (article.author.username === user?.username) {
        <span>
          <button class="edit" (click)="handleEditArticle()">Edit Article</button>
          <button class="delete">Delete Article</button>
        </span>
      }
    }
  </div>
</section>
