@import '../../../../styles/main.scss';

section {
  @include center;
  flex-direction: column;
  background: $dark-2;
  padding: 32px 20%;
  color: $light;
  margin-bottom: 40px;

  div.img {
    width: 100px;
    height: 100px;

    img {
      @include image;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  p {

  }

  span {
    @include center;
    justify-content: flex-end;
    width: 60%;

    button {
      @include center;
      padding: .25rem .5rem;
      font-size: $size-2;
      border-radius: .2rem;
      gap: 10px;
      border: 1px solid $grey-6;
      color: $grey-6;
      cursor: pointer;

      &:hover {
        color: light-comp($grey-6);
        background: $grey-6;
      }
    }
  }
}
