<section>
  <h1>{{ article?.title }}</h1>
  <div class="article-meta">
    <div class="img">
      <img [src]="article?.author?.image" alt="">
    </div>
    <summary>
      <h3>{{ article?.author?.username }}</h3>
      <p>{{ formatDate(article?.createdAt) }}</p>
    </summary>
    @if (article) {
      @if (article.author.username === user?.username) {
        <span>
          <button class="edit" (click)="editArticle()">Edit Article</button>
          <button class="delete">Delete Article</button>
        </span>
      } @else {
        <span>
          <button class="follow">
            Follow {{ article.author.username }}
          </button>
          @if (article.favorited) {
            <button class="favourite active" [disabled]="articleSignal().pending"
                    (click)="favoriteArticleWorker.favorite(article.slug, article.favorited)">
            Unfavorite Article {{ article.favoritesCount }}
          </button>
          } @else {
            <button class="favourite" [disabled]="articleSignal().pending"
                    (click)="favoriteArticleWorker.favorite(article.slug, article.favorited)">
              Favorite Article {{ article.favoritesCount }}
            </button>
          }
        </span>
      }
    }
  </div>
</section>
