<div class="article-details page">
  @if (user) {
    <mc-home-nav />
  } @else {
    <mc-login-nav />
  }
  @if (articleSig().pending) {
    <mc-page-spinner />
  } @else if (articleSig().error) {
    <mc-error-page
      [error]="articleSig().error!"
      (refetch)="fetchArticle()"
    />
  } @else {
    <mc-article-banner
      [article]="articleSig().data?.article"
      [slug]="articleSlug"
      [user]="user"
      (updatedArticle)="updateArticle($event)"
    />
    <mc-article-content
      [article]="articleSig().data?.article"
    />
    <mc-article-comment
      [article]="articleSig().data?.article"
      [user]="user"
      (updatedArticle)="updateArticle($event)"
    />
  }
  <footer>
    <mc-footer />
  </footer>
</div>
