<section>
  @if (pending) {
    <mc-spinner></mc-spinner>
  } @else {
    <div class="img">
      <img [src]="userProfile.image" alt="">
    </div>
    <h1>{{ userProfile.username }}</h1>
    <span>
        @if (userProfile.username === user.username) {
          <button (click)="navigate()">
            <img alt="" src="assets/settings.svg">
            Edit Profile Settings
          </button>
        } @else {
          @if (userProfile.following) {
            <button 
              [disabled]="followSignal().pending"
              (click)="followProfile(userProfile.username, userProfile.following)">
              Unfollow {{ userProfile.username }}
            </button>
          } @else {
            <button 
              [disabled]="followSignal().pending"
              (click)="followProfile(userProfile.username, userProfile.following)">
              Follow {{ userProfile.username }}
            </button>
          }
        }
      </span>
  }
</section>
