ul{
  list-style: none;
  padding: 0;

  li{
    color: red;
    font-size: 1rem;
    color: red;
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
    margin: 0;
  }
}
