@import "main";

main {
  @include center;

  > section {
    @include center;
    flex-direction: column;
    width: 45vw;

    div.content {
      @include center;
      align-items: flex-start;
      min-height: 57vh;

      span {
        @include center;
        height: 300px;
        width: 300px;
      }
    }
  }
}

footer {
  @include footer;
}
