<div class="profile page">
  <mc-home-nav />
  <mc-profile-banner
    [pending]="profileSignal().pending"
    [userProfile]="profileSignal().data?.profile!"
    [user]="user!"
  />
  <main>
    <section>
      <mc-profile-feed-header
        [feedName]="feedName"
        [isUser]="Boolean(user?.username === profileSignal().data?.profile?.username)"
        [profile]="profileSignal().data?.profile!"
        (feedChange)="changeFeed($event)"
      />
      <div class="content">
        @if (articleSignal().pending) {
          <span>
            <mc-spinner />
          </span>
        } @else if (articleSignal().error) {
          <mc-error-page
            [error]="articleSignal().error!"
            (refetch)="fetchFeed()"
          />
        } @else {
          <mc-article-list
            [articles]="articleSignal().data?.articles!"
          />
        }
      </div>
    </section>
  </main>
  <footer>
    <mc-footer />
  </footer>
</div>
