<section class="login-form form">
  <header>
    <h1>Sign In</h1>
    <a [routerLink]="['/register']">Need an account?</a>
  </header>
  <form (submit)="handleSubmit()" [formGroup]="form">
    @if (errors) {
      <mc-backend-errors [errors]="errors"/>
    }

    <input 
      preventLeadingSpace 
      formControlName="email" placeholder="Email" type="text"
    />
    <div class="error">{{formValidator.errors('email')}}</div>

    <input
      preventLeadingSpace 
      formControlName="password" placeholder="Password" type="password"
    />
    <div class="error">{{formValidator.errors('password')}}</div>

    @if (isSubmitting) {
      <button type="button" disabled>
        Signing In
        <mc-button-spinner/>
      </button>
    } @else {
      <button type="submit">Sign In</button>
    }
  </form>
</section>
