<section class="settings-form">
  <header>
    <h1>Your Settings</h1>
  </header>

  <form (submit)="handleSubmit()" [formGroup]="form">
    @if (errors) {
      <mc-backend-errors
        [errors]="errors"
      ></mc-backend-errors>
    }

    <input formControlName="image" type="text">

    <input formControlName="username" placeholder="Username" type="text">
    @if (userNameErrors !== '') {
      <div class="error">{{ userNameErrors }}</div>
    }

    <textarea formControlName="bio" name="bio" placeholder="Short bio about you" rows="8"></textarea>

    <input formControlName="email" placeholder="Email" type="email">
    @if (emailErrors !== '') {
      <div class="error">{{ emailErrors }}</div>
    }

    <input formControlName="password" placeholder="New Password" type="password">
    @if (passwordErrors !== '') {
      <div class="error">{{ passwordErrors }}</div>
    }

    @if (isSubmitting) {
      <button type="button" disabled>
        Updating Settings
        <mc-button-spinner></mc-button-spinner>
      </button>
    } @else {
      <button type="submit">Update Settings</button>
    }
  </form>
</section>
