<section class="settings-form form">
  <header>
    <h1>Your Settings</h1>
  </header>

  <form (submit)="handleSubmit()" [formGroup]="form">
    @if (errors) {
      <mc-backend-errors [errors]="errors"/>
    }

    <input 
      preventLeadingSpace
      formControlName="image" 
      title="image" type="text"
    >

    <input 
      preventLeadingSpace
      formControlName="username" 
      placeholder="Username" type="text"
    >
    <div class="error">{{formValidator.errors('username')}}</div>

    <textarea 
      preventLeadingSpace
      formControlName="bio" name="bio"
      placeholder="Short bio about you" rows="8"
    ></textarea>

    <input 
      preventLeadingSpace
      formControlName="email" placeholder="Email" 
      type="email"
    >
    <div class="error">{{formValidator.errors('email')}}</div>

    <input 
      preventLeadingSpace
      formControlName="password" placeholder="New Password"
      type="password"
    >
    <div class="error">{{formValidator.errors('password')}}</div>

    @if (isSubmitting) {
      <button type="button" disabled>
        Updating Settings
        <mc-button-spinner />
      </button>
    } @else {
      <button type="submit">Update Settings</button>
    }
  </form>
</section>
