<section class="signup-form form">
  <header>
    <h1>Sign Up</h1>
    <a [routerLink]="['/login']">Have an account?</a>
  </header>

  <form (submit)="handleSubmit()" [formGroup]="form">
    @if (errors) {
      <mc-backend-errors [errors]="errors"/>
    }

    <input 
      (keydown)="preventLeadingSpace($event)" 
      formControlName="username" placeholder="Username" type="text"
    >
    @if (userNameErrors !== '') {
      <div class="error">{{ userNameErrors }}</div>
    }

    <input 
      (keydown)="preventLeadingSpace($event)" 
      formControlName="email" placeholder="Email" type="email"
    >
    @if (emailErrors !== '') {
      <div class="error">{{ emailErrors }}</div>
    }

    <input 
      (keydown)="preventLeadingSpace($event)" 
      formControlName="password" placeholder="Password" type="password"
    >
    @if (passwordErrors !== '') {
      <div class="error">{{ passwordErrors }}</div>
    }

    @if (isSubmitting) {
      <button type="button" disabled>
        Sign Up
        <mc-button-spinner />
      </button>
    } @else {
      <button type="submit">Sign Up</button>
    }
  </form>
</section>
