<section class="signup-form form">
  <header>
    <h1>Sign Up</h1>
    <a [routerLink]="['/login']">Have an account?</a>
  </header>

  <form (submit)="handleSubmit()" [formGroup]="form">
    @if (errors) {
      <mc-backend-errors [errors]="errors"/>
    }

    <input 
      preventLeadingSpace
      formControlName="username" placeholder="Username" type="text"
    >
    <div class="error">{{formValidator.errors('username')}}</div>

    <input 
      preventLeadingSpace 
      formControlName="email" placeholder="Email" type="email"
    >
    <div class="error">{{formValidator.errors('email')}}</div>

    <input 
      preventLeadingSpace
      formControlName="password" placeholder="Password" type="password"
    >
    <div class="error">{{formValidator.errors('password')}}</div>

    @if (isSubmitting) {
      <button type="button" disabled>
        Sign Up
        <mc-button-spinner />
      </button>
    } @else {
      <button type="submit">Sign Up</button>
    }
  </form>
</section>
