<div class="home page">
  <mc-home-nav></mc-home-nav>
  <section class="hero">
    <h1>conduit</h1>
    <p>A place to share your knowledge.</p>
  </section>
  <main>
    <section>
      <mc-feed-header
        (feedChange)="changeFeed($event)"
        [feedName]="feedName"
      ></mc-feed-header>
      <div class="content">
        @if (articleSignal().pending) {
          <span>
            <mc-spinner></mc-spinner>
          </span>
        } @else if (articleSignal().error) {
          <mc-error-page
            [error]="articleSignal().error!"
            (refetch)="fetchFeed()"
          ></mc-error-page>
        } @else {
          <mc-article-list
            [articles]="articleSignal().data?.articles!"
          ></mc-article-list>
        }
      </div>
      <!--TODO: change hardcoded total to res.articlesCount-->
      <mc-pagination
        (changePage)="changePage($event)"
        [currentPage]="currentPage"
        [limit]="articleLimit"
        [total]="articleSignal().data?.articlesCount!"
      ></mc-pagination>
    </section>
    <section class="tags">
      
    </section>
  </main>
  <footer>
    <mc-footer></mc-footer>
  </footer>
</div>
