<div class="home page">
  <mc-home-nav></mc-home-nav>
  <section class="hero">
    <h1>conduit</h1>
    <p>A place to share your knowledge.</p>
  </section>
  <main>
    <section>
      <mc-feed-header
        (feedChange)="fetchFeed($event)"
      ></mc-feed-header>
      @if (articleSignal().pending) {
        <div>Loading...</div>
      } @else if (articleSignal().error) {
        <!-- <mc-error-page
          [error]="articleSignal().error!"
          (refetch)="fetchFeed()"
        ></mc-error-page> -->
      } @else {
        <mc-article-list
          [articles]="articleSignal().data?.articles!"
        ></mc-article-list>
      }
      <!--TODO: change hardcoded total to res.articlesCount-->
      <mc-pagination
        (changePage)="changePage($event)"
        [currentPage]="currentPage"
        [limit]="articleLimit"
        [total]="260"
      ></mc-pagination>
    </section>
  </main>
  <mc-footer></mc-footer>
</div>
