<section class="editor-form">
  <header>
  </header>

  <form (submit)="handleSubmit()" [formGroup]="form">
    @if (errors) {
      <mc-backend-errors
        [errors]="errors"
      ></mc-backend-errors>
    }

    <input formControlName="title" placeholder="Article Title" type="text">
    @if (getRequiredErrors("title")) {
      <div class="error">{{ getRequiredErrors("title") }}</div>
    }


    <input formControlName="description" placeholder="What is this article about?" type="text">
    @if (getRequiredErrors("description")) {
      <div class="error">{{ getRequiredErrors("description") }}</div>
    }

    <textarea formControlName="body" name="body" placeholder="Write your article" rows="8"></textarea>
    @if (getRequiredErrors("body")) {
      <div class="error">{{ getRequiredErrors("body") }}</div>
    }

    <input formControlName="tags" placeholder="Enter tags" type="text">

    @if (isSubmitting) {
      <button type="button" disabled>
        Publishing Article
        <mc-button-spinner></mc-button-spinner>
      </button>
    } @else {
      <button type="submit">Publish Article</button>
    }
  </form>
</section>
