<section class="editor-form form">
  <header>
  </header>

  <form (submit)="handleSubmit()" [formGroup]="form">
    @if (errors) {
      <mc-backend-errors
        [errors]="errors"
      />
    }

    <input 
      preventLeadingSpace 
      formControlName="title" placeholder="Article Title" type="text"
    >
    <div class="error">{{formValidator.errors('title')}}</div>

    <input 
      preventLeadingSpace 
      formControlName="description" placeholder="What is this article about?"
      type="text"
    >
    <div class="error">{{ formValidator.errors('description') }}</div>

    <textarea 
      preventLeadingSpace formControlName="body" name="body" 
      placeholder="Write your article" rows="8"
    ></textarea>
    <div class="error">{{formValidator.errors('body')}}</div>

    <input 
      preventLeadingSpace formControlName="tags" 
      placeholder="Enter tags" type="text"
    >

    @if (isSubmitting) {
      <button type="button" disabled>
        Publishing Article
        <mc-button-spinner />
      </button>
    } @else {
      <button type="submit">Publish Article</button>
    }
  </form>
</section>
